<div class="container">
    <button (click)="addMeal()" mat-flat-button color="primary">Nouvel ingredient</button>
    <table mat-table [dataSource]="repas_data" class="mat-elevation-z8 table mt-2">

        <ng-container matColumnDef="Repas">
            <th mat-header-cell *matHeaderCellDef>Repas</th>
            <td mat-cell *matCellDef="let repa_data"> {{repa_data.repasDesignation }} </td>
        </ng-container>

        <ng-container matColumnDef="Ingredient">
            <th mat-header-cell *matHeaderCellDef>Ingredient</th>
            <td mat-cell *matCellDef="let repa_data">
                <ng-container *ngFor="let ingredient of repa_data.ingredient">
                    {{ ingredient.ingredientLibelle }}
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let repa_data" class="d-flex align-items-center">
                <a [routerLink]="['/repas',repa_data.id,'voir']">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
                <a [routerLink]="['/repas',repa_data.id,'editer']">
                    <mat-icon>edit</mat-icon>
                </a>
                <button class="bg-danger fs-14 btn-sm" (click)="deleteMeal(repa_data.id)" mat-button color="danger">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="repas_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: repas_columns;"></tr>
    </table>
</div>