<div class="container ml-5">
    <form [formGroup]="editIngredientForm" (ngSubmit)="onSubmitEditIngredientForm()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ingredient</mat-label>
                <input matInput placeholder="Farine,..." value="{{ ingredient.ingredientLibelle }}" formControlName="ingredientLibelle">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Unité</mat-label>
                <input matInput placeholder="Kg,Litre,..." value="{{ ingredient.ingredientUnite }}" formControlName="ingredientUnite">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Quantité</mat-label>
                <input  type="number" matInput placeholder="0" value="{{ ingredient.ingredientQuantite }}" formControlName="ingredientQuantite">
            </mat-form-field>
        </div>
        <div>
            <button class="m-1" mat-flat-button color="primary">Enregistrer</button>
            <button mat-flat-button color="warn" (click)="listIngredient()">Annuler</button>
        </div>
    </form>
</div>