<div class="container">
    <p>
        <ng-container>
            <b>Repas:</b> {{dataMealEdited.repasDesignation }}
        </ng-container>
    </p>
    <p>
        <b>Ingredients:</b>
        <ng-container>
            <ul>
                <li *ngFor="let ingredient of dataMealEdited.ingredient">
                  {{ ingredient.ingredientQuantite }} {{ ingredient.ingredientUnite }} de  {{ ingredient.ingredientLibelle }}
                </li>
            </ul>
        </ng-container>
    </p>
</div>
