<div class="container ml-5">
    <!-- <form [formGroup]="mealForm" (ngSubmit)="onSubmitMealForm()"> -->
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Repas</mat-label>
                <input matInput placeholder="Burger,...">
            </mat-form-field>
        </div>
        <div>
            <button class="m-1" mat-flat-button color="primary">Enregistrer</button>
            <button mat-flat-button color="warn" (click)="listMeal()">Annuler</button>
        </div>
    </form>
</div>