<div class="container">
    <button (click)="addIngredient()" mat-flat-button color="primary">Nouvel ingredient</button>
    <table mat-table [dataSource]="ingredients_data" class="mat-elevation-z8 table mt-2">
     
      <ng-container matColumnDef="Ingredient">
        <th mat-header-cell *matHeaderCellDef> Ingredient </th>
        <td mat-cell *matCellDef="let ingredient_data"> {{ingredient_data.ingredientLibelle}} </td>
      </ng-container>
     
      <ng-container matColumnDef="Unité">
        <th mat-header-cell *matHeaderCellDef> Unité </th>
        <td mat-cell *matCellDef="let ingredient_data"> {{ingredient_data.ingredientUnite}} </td>
      </ng-container>
     
      <ng-container matColumnDef="Quantité">
        <th mat-header-cell *matHeaderCellDef>Quantité</th>
        <td mat-cell *matCellDef="let ingredient_data"> {{ingredient_data.ingredientQuantite}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let ingredient_data">
          <a [routerLink]="['/ingredient',ingredient_data.id,'editer']" mat-button color="warn">
            <mat-icon>edit</mat-icon>
          </a>
          <button class="bg-danger fs-14 btn-sm" (click)="deleteIngredient(ingredient_data.id)" mat-button color="danger">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="ingredient_columns"></tr>
      <tr mat-row *matRowDef="let row; columns: ingredient_columns;"></tr>
    </table>
</div>