/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin: 1%;
}

.mt-2{
    margin-top: 2%;
}

.m-1{
    margin-right: 0.5rem !important;
}

.ml-5{
    margin-left: 5%;
}

.bg-danger{
    background-color: rgb(245, 72, 72);
    color: #fff;
}

.fs-14{
    font-size:14px;
}

.btn-sm{
    min-width: 1% !important;
}

.table{
    width: 100%;
}

/*.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}*/
