<mat-toolbar color="primary" class="header-toolbar">
    <span>E-Resto</span>
    <div class="header-toolbar-menu">
      <a href="#" class="header-toolbar-link" [routerLink]="['/ingredient']" routerLinkActive="router-link-active" >Ingredient</a>
      <a href="#" class="header-toolbar-link" [routerLink]="['/repas']" routerLinkActive="router-link-active" >Repas</a>
    </div>
  </mat-toolbar>